{% extends 'base.html.twig' %}

{% trans_default_domain 'statistic' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .half-width {
            width: 50%;
            display: inline-block;
            box-sizing: border-box;
        }
        table tr th, table tr td {
            white-space: nowrap;
            padding: 10px;
        }
        table tr td {
            text-align: center;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="row card">
        <div class="col-md-12">

            {% include 'statistic/includes/filters.html.twig' with {statisticForm: statisticForm} %}

        </div>
    </div>

    <div class="row card">
        <div class="col-md-12">

            {% include 'statistic/includes/results.html.twig' with {statistics: statistics} %}

        </div>
    </div>
{% endblock %}